
@{
    ViewData["Title"] = "Home";
}
<h1 class="text-center ">EnixerPos</h1>
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Register Store", "RegisStore", "Register")</button>
<br />
<br />
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Manage Store", "Login", "Register")</button>

