
@{
    ViewData["Title"] = "RegisterStore";
}

<h1 class="text-center ">Register Store</h1>
<form action="/Register/CallAPIRegisStoer" method="post">
    <div class="form-group col-md-4 offset-4">
        <h3 class="text-center">Email</h3>
        <input type="email" placeholder="Email" class="form-control" name="email" required />
        <h3 class="text-center">StoreName</h3>
        <input type="text" placeholder="StoreName" class="form-control" name="storeName" pattern="^([A-Z0-9a-z])+$" required />
        <h3 class="text-center">EWalletAccountNo</h3>
        <input type="text" placeholder="EWalletAccountNo" class="form-control" name="eWalletAccNo" pattern="^(\d{10})$" maxlength="10" required />

        <br />
        <button type="submit" class="form-control">Regis</button>
        <br />
        <button type="reset" class="form-control">Cancel</button>
        <br />
        <button type="button" class="form-control">@Html.ActionLink("Back", "Index", "Register")</button>
    </div>
</form>


