
@{
    ViewData["Title"] = "RegisterUser";
}

<h1 class="text-center ">Add Operator</h1>
<form action="/Register/CallAPIRegisUser?email=@ViewBag.Email" method="post">
    <div class="form-group col-md-4 offset-4">
        <h3 class="text-center">Operator Name</h3>
        <input type="text" placeholder="Operator Name" class="form-control" name="nameUser" pattern="^([A-Za-z]+)$" required />
        <h3 class="text-center">Pin (Number 4 Digit)</h3>
        <input type="password" placeholder="Pin" class="form-control" name="pin" pattern="^(\d{4})$" maxlength="4" required />
        <br />
        <button type="submit" class="form-control">Regis</button>
        <br />
        <button type="reset" class="form-control">Cancel</button>
        <br />
        <button type="button" class="form-control">@Html.ActionLink("Back", "Index", "Register")</button>
    </div>
</form>

