
@{
    ViewData["Title"] = "SuccessPage";
}

<h1 class="text-center ">Success</h1>
<h3 class="text-success text-center">@ViewBag.Message</h3>
<br />
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Back", "Index", "Register")</button>
