
@{
    ViewData["Title"] = "Product";
}

<h1 class="text-center ">Management Product</h1>
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Edit Item", "EditItem", "Product")</button>
<br />
<br />
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Edit Category", "EditCategory", "Product")</button>
<br />
<br />
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Edit Discount", "EditDiscount", "Product")</button>
<br />
<br />
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Back", "Index", "Management")</button>

