
@{
    ViewData["Title"] = "SetPassword";
}

<h1 class="text-center ">Set Password</h1>
<form action="/SetPassword/CallApiSetPass?otp=@ViewBag.OTP&&email=@ViewBag.Email" method="post" oninput='rePassword.setCustomValidity(rePassword.value != password.value ? "Passwords do not match." : "")'>
    <div class="form-group col-md-4 offset-4">
        <h3 class="text-center">Password</h3>
        <input type="password" placeholder="Password" class="form-control" name="password" pattern="^([A-Z0-9a-z])+$" required />
        <h3 class="text-center">Password</h3>
        <input type="password" placeholder="Re-Password" class="form-control" name="rePassword" />
        <br />
        <button type="submit" class="form-control">Set Password</button>
        <br />
        <button type="reset" class="form-control">Cancel</button>
    </div>
</form>

