
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-center ">Error</h1>
<h3 class="text-warning text-center">@ViewBag.Message</h3>
<br />
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Back", "Management", "Register")</button>

