
@{
    ViewData["Title"] = "ManagementHome";
}

<h1 class="text-center ">Management Store</h1>
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Add Staff", "RegisUser", "Register")</button>
<br />
<br />
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Manage Store", "Login", "Register")</button>

