
@{
    ViewData["Title"] = "Management";
}

<h1 class="text-center ">Management Store</h1>
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Add Staff", "RegisUser", "Register")</button>
<br />
<br />
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Manage Staff", "Index", "User")</button>
<br />
<br />
<button type="button" class="btn-light offset-5 btn-lg">@Html.ActionLink("Manage Product", "Index", "Product")</button>

